@model IEnumerable<WebApi.Dto.CourseDto>

<main class="container">
    <p>
        <a href="/Course/Create">Create New Course</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    pass credit
                </th>
                <th>
                    home task count
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @item.Name
                    </th>
                    <th>
                        @item.StartDate
                    </th>
                    <th>
                        @item.EndDate
                    </th>
                    <th>
                        @item.PassCredits
                    </th>
                    <th>
                        @item.HomeTasks.Count
                    </th>
                    <th>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>|
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                    </th>
                </tr>
            }
        </tbody>
    </table>
</main>